@model IplanRio.Application.DTO.ShoppingDTO

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Deseja realmente Deletar esse Shopping?</h3>
<div>
    <h4>Shopping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraAbertura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraAbertura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraFechamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFechamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
